@font-face {
  font-family: "console-like-font";
  src: url(/styles/fonts/VT323-Regular.ttf) format('truetype');
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: "console-like-font", Consolas, Arial;
  background: black;
  color: yellow;
  font-size: 40px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}


/* Custom page header */
.header {
  margin-bottom: 50px;
  text-align: center;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 50px;
}

.container>.row{
  min-height: 250px;

}

.container-narrow > hr {
  margin: 30px 0;
}

.container .questions-wrapper{
  /* text-align: center; */
}

.container .questions-wrapper.questions{
  display:inline-block;
}

.question.row{
        width: 80%;
    margin: auto;
}

span.wrong-answer{
  vertical-align: bottom;
  font-size: 100px;
  margin: 0;
  padding: 0;
  width: 0px;
      line-height: 0.8; 
}

.points{
  font-size: 60px;
}

.play-sound{
  color:black;
  background-color: black;
  border-width: 0;
  display: block;
}
#help{
  font-size: 10px;
  background: transparent;
  border: none;
  color: yellow;
  cursor: pointer;
  font-family: "console-like-font", Consolas, Arial;
}

#help:hover, #help:focus {
  outline: 1px solid yellow;
  background: rgba(255, 255, 0, 0.1);
}